body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

html.invert {
  filter: invert(1);
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.agent-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.agent-header h2 {
  margin: 0;
}

/* Bandereole Défilante */
.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222; /* Couleur sombre pour le fond */    
  color: #ffcc00; /* Couleur de départ pour le texte (jaune) */
  text-align: center;
  padding: 15px 0;  /* Un peu plus d'espace pour améliorer la visibilité */
  font-size: 2em;  /* Taille de la police augmentée */
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;    
  animation: scrollBanner 20s linear infinite, blinkText 1s ease-in-out infinite; 
  /*     Animation de défilement et clignotement */
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  /* Ombre portée pour un meilleur contraste */
}

/* Animation du texte défilant */
@keyframes scrollBanner {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Animation de clignotement (alternance entre rouge et jaune) */
@keyframes blinkText {
  0%, 100% {
      color: #ffcc00;  /* Jaune */
  }
  50% {
      color: #ff0000;  /* Rouge */
  }
}

/* Chat Box */
.chat-container {
  height: 360px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc7c7c5;
  padding: 0px;
  overflow-y: scroll;
  box-sizing: border-box;
}